<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495905085777-rq6umcqr36v52q3p9b798sua3uujavfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495905085777-rq6umcqr36v52q3p9b798sua3uujavfl</string>
	<key>API_KEY</key>
	<string>AIzaSyBqn2_QFOiDG8nq2aY_dV1vXv0HWN7o_dE</string>
	<key>GCM_SENDER_ID</key>
	<string>495905085777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCountSample</string>
	<key>PROJECT_ID</key>
	<string>countsample-fae20</string>
	<key>STORAGE_BUCKET</key>
	<string>countsample-fae20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495905085777:ios:f06b074e78f804c5eadb70</string>
</dict>
</plist>